.opening-overlay {
  position: fixed;
  inset: 0;
  background: rgba(8, 61, 64, 0.8);
  z-index: 10000;

  animation: openingFade 3s ease forwards;
}

.opening-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  width: 100%;
  height: 100%;
}
@keyframes openingFade {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    transform: translate(45deg);
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Annimation page fonts */
.opening-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #083d40;
}
.opening-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #083d40;
}
.opening-content .class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.opening-content .class h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #083d40;
}
.opening-content .class p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px #083d40;
}
